<div>
  <h1>Login</h1>
  <form id='loginForm'>
    <table>
      <tr>
        <td><label>Email</label></td>
        <td><input type='email' name='email' required /></td>
      </tr>
      <tr>
        <td><label>Contraseña</label></td>
        <td><input type='password' name='password' required /></td>
      </tr>
      <tr>
        <td></td>
        <td><input type='submit' value='Enviar' /></td>
      </tr>
    </table>
  </form>
  <a href="/api/sessions/github"><button>Entrar con github</button></a>
  <p>¿No estás registrado? <a href='/register'>Regístrate aquí</a></p>
  <a href='/restore'>¿Olvidaste tu contraseña?</a>
</div>
<script src='/js/login.js'></script>